@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome page</h1>
    <h2>It's my first ever web site with Asp.net and Razor Pages</h2>
    <a class="navbar-brand" asp-page="/Movies/Index">Movies List</a>
    </button>
</div>
